 
 

#include <windows.h>

 
#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         "1.0.0.0\0"
#define VER_PRODUCTVERSION          1,0,0,0
#define VER_PRODUCTVERSION_STR      "1.0.0\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "xorDLL Team\0"
            VALUE "FileDescription",  "xorDLL - Modern DLL Injector\0"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     "xorDLL\0"
            VALUE "LegalCopyright",   "Copyright (c) 2024 xorDLL Team\0"
            VALUE "OriginalFilename", "xorDLL.exe\0"
            VALUE "ProductName",      "xorDLL\0"
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

 
IDI_APPICON ICON "xor.ico"

 
IDB_BACKGROUND RCDATA "bgimage.png"

 
1 RT_MANIFEST "xorDLL.manifest"
